In [1]:
import pandas as pd
import numpy as np
import nltk
import re

In [2]:
file=pd.read_csv("IMDB Dataset.csv")

In [3]:
file.head(10)

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive
5  Probably my all-time favorite movie, a story o...  positive
6  I sure would like to see a resurrection of a u...  positive
7  This show was an amazing, fresh & innovative i...  negative
8  Encouraged by the positive comments about this...  negative
9  If you like original gut wrenching laughter yo...  positive

In [4]:
file['review'].head()

0    One of the other reviewers has mentioned that ...
1    A wonderful little production. <br /><br />The...
2    I thought this was a wonderful way to spend ti...
3    Basically there's a family where a little boy ...
4    Petter Mattei's "Love in the Time of Money" is...
Name: review, dtype: object

In [5]:
file['review']=file.review.apply(lambda x:re.sub(r"[-()\"#/@;:<>{}`+=~|.!?,]", "", x))
file['review']=file.review.apply(lambda x:re.sub(r"[--]",' ',x))
file.head(15)

                                               review sentiment
0   One of the other reviewers has mentioned that ...  positive
1   A wonderful little production br br The filmin...  positive
2   I thought this was a wonderful way to spend ti...  positive
3   Basically there's a family where a little boy ...  negative
4   Petter Mattei's Love in the Time of Money is a...  positive
5   Probably my alltime favorite movie a story of ...  positive
6   I sure would like to see a resurrection of a u...  positive
7   This show was an amazing fresh & innovative id...  negative
8   Encouraged by the positive comments about this...  negative
9   If you like original gut wrenching laughter yo...  positive
10  Phil the Alien is one of those quirky films wh...  negative
11  I saw this movie when I was about 12 when it c...  negative
12  So im not a big fan of Boll's work but then ag...  negative
13  The cast played Shakespearebr br Shakespeare l...  negative
14  This a fantastic movie of three prisoners who ...  positive

In [6]:
file['review']=file['review'].str.lower()
file.head(10)

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production br br the filmin...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's love in the time of money is a...  positive
5  probably my alltime favorite movie a story of ...  positive
6  i sure would like to see a resurrection of a u...  positive
7  this show was an amazing fresh & innovative id...  negative
8  encouraged by the positive comments about this...  negative
9  if you like original gut wrenching laughter yo...  positive

In [7]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [8]:
analyser = SentimentIntensityAnalyzer()

In [9]:
def sentiment(sentence):
    score=analyser.polarity_scores(sentence)
    if score['compound'] <= -0.05 :
        return 0
    else :
        return 1

In [10]:
file['review_score']=file['review'].apply(lambda review: sentiment(review))

In [11]:
file.head(10)

                                              review sentiment  review_score
0  one of the other reviewers has mentioned that ...  positive             0
1  a wonderful little production br br the filmin...  positive             1
2  i thought this was a wonderful way to spend ti...  positive             1
3  basically there's a family where a little boy ...  negative             0
4  petter mattei's love in the time of money is a...  positive             1
5  probably my alltime favorite movie a story of ...  positive             1
6  i sure would like to see a resurrection of a u...  positive             1
7  this show was an amazing fresh & innovative id...  negative             1
8  encouraged by the positive comments about this...  negative             1
9  if you like original gut wrenching laughter yo...  positive             1

In [12]:
file['review_score'].value_counts()

1    33483
0    16517
Name: review_score, dtype: int64

In [13]:
from sklearn import preprocessing

In [14]:
enc=preprocessing.LabelEncoder()

In [15]:
file['sentiment']=enc.fit_transform(file['sentiment'])

In [16]:
file['sentiment'].head()

0    1
1    1
2    1
3    0
4    1
Name: sentiment, dtype: int32

In [17]:
from sklearn.naive_bayes import GaussianNB

In [18]:
clf= GaussianNB()

In [19]:
file.shape

(50000, 3)

In [20]:
from pandas import Series,DataFrame

df_X_train=DataFrame(file['review_score'][:45000])
df_X_train.head()

   review_score
0             0
1             1
2             1
3             0
4             1

In [21]:
df_X_train.shape

(45000, 1)

In [22]:
df_Y_train=DataFrame(file['sentiment'][:45000])
df_Y_train.head()

   sentiment
0          1
1          1
2          1
3          0
4          1

In [23]:
df_Y_train.shape

(45000, 1)

In [24]:
df_X_test=DataFrame(file['review_score'][45001:])
df_X_test.head()

       review_score
45001             1
45002             0
45003             1
45004             0
45005             1

In [25]:
df_X_test.shape

(4999, 1)

In [26]:
df_Y_test=DataFrame(file['sentiment'][45001:])
df_Y_test.head()

       sentiment
45001          1
45002          0
45003          0
45004          0
45005          0

In [27]:
df_Y_test.shape

(4999, 1)

In [28]:
from sklearn.naive_bayes import GaussianNB

In [29]:
clf=GaussianNB()

In [30]:
clf.fit(df_X_train,df_Y_train)

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB(priors=None, var_smoothing=1e-09)

In [31]:
predicted=clf.predict(df_X_test)

In [32]:
predicted

array([1, 0, 1, ..., 0, 0, 1])

In [33]:
from sklearn import metrics

In [34]:
print(metrics.accuracy_score(df_Y_test,predicted))

0.6873374674934987